* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*常规flex居中*/
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
    gap: 4vmin; /*间隔*/
    background: #112222;
}

button {
    overflow: hidden;
    padding: 4vmin 8vmin;
    border: none;
    border-radius: 10vmin;
    background-image: linear-gradient(90deg, #0acffe, #495aff); /*渐变*/
    color: #fff;
    font-size: 6vmin;
    font-weight: bold;
    letter-spacing: 1vmin;
    cursor: pointer;
    position: relative;
}

button:nth-child(2) {
    background-image: linear-gradient(90deg, #ed6ea0, #ec8c69);
}

button span {
    background-color: #fff;
    border-radius: 50%;
    pointer-events: none;
    position: absolute;
    transform: translate(-50%, -50%);
    animation: animate 1s ease-out;

}

@keyframes animate {
    0% {
        width: 0;
        height: 0;
        opacity: 0.5;
    }
    100% {
        width: 100vmin;
        height: 100vmin;
        opacity: 0;
    }
}